@import '../../styles/abstracts.scss';

.task {
  padding: 1.2rem 1.5rem;
  background-color: var(--color-grey-2);

  display: grid;
  grid-template-columns: min-content 1fr 3rem;
  column-gap: 2rem;
  align-items: center;
  border-radius: 1rem;

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 0.8rem;
    background-color: var(--color-primary-tint);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;

    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--color-primary-shade-2);
    }

    @include respond(phone-v-small) {
      display: none;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    justify-self: start;
    max-width: 34rem;
    row-gap: 0.2rem;

    @include respond(laptop) {
      max-width: 30rem;
    }
    @include respond(tab-land-small) {
      max-width: 25rem;
    }
    @include respond(tab-port-large) {
      max-width: 40rem;
    }
    @include respond(tab-port) {
      max-width: 28rem;
    }
    @include respond(phone) {
      max-width: 25rem;
    }
    @include respond(phone-v-small) {
      margin-left: -2rem;
      max-width: 22rem;
    }
  }
  &__title {
    line-height: normal;
  }
  &__category {
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__checkbtn {
    @include default-button-reset;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: 3px solid var(--color-grey-3);
    background-color: transparent;
    transition: all 0.2s;

    border-radius: 0.8rem;
    margin-right: 1rem;
    grid-column: 3 / 4;

    color: transparent;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }
  &__delete-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--color-primary-shade);
    }
  }

  &--done {
    .task__title {
      text-decoration-line: line-through;
      text-decoration-color: var(--color-grey-4);
    }
    .task__checkbtn {
      border-color: #397054;
      color: #397054;
    }
  }
}
