body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	color: var(--color-text-primary);
	line-height: 1.5;
	font-weight: 400;
  }
  
  .error-message {
	color: var(--color-primary);
	font-weight: 600;
	// margin: 1rem 0;
	font-size: 1.6rem;
  }
  