@import '../../../styles/abstracts.scss';

.profile_options {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

.option {
  height: 100%;

  &__btn {
    @include default-button-reset;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    color: var(--color-text-primary);
    padding: 0 1.8rem;
    height: 100%;
    transition: all 0.3s;

    @include respond(tab-port) {
      padding: 0 1.5rem;
    }
    @include respond(phone-small) {
      padding: 0 1rem;
    }

    svg {
      width: 3rem;
      height: 3rem;
      fill: var(--color-text-secondary);
      margin-right: 0.8rem;

      @include respond(tab-port) {
        margin-right: 0;
      }
      @include respond(tab-port) {
        width: 2.8rem;
        height: 2.8rem;
      }
    }
    &:hover,
    &:active {
      background-color: var(--color-grey-2);
    }
    span {
      @include respond(tab-port) {
        display: none;
      }
    }
  }
}

.notifications {
  position: absolute;
  top: 2.5rem;
  left: 3rem;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;

  @include respond(phone-small) {
    left: 2.5rem;
  }
}

.profile_label {
  display: flex;
  align-items: center;
  margin: 0 2rem 0 1.5rem;

  @include respond(tab-port) {
    margin: 0 1rem 0 1.5rem;
  }

  img {
    height: 5.5rem;
    margin-right: 1rem;

    @include respond(tab-port) {
      margin-right: 0;
    }
  }

  span {
    display: inline-block;
    font-weight: 500;

    @include respond(tab-port) {
      display: none;
    }
  }
}
