@import '../../styles/abstracts.scss';

.tasks {
  // height: 30rem;
  grid-column: 2 / 4;

  @include respond(tab-port-large) {
    grid-column: 1 / -1;
  }

  &__chart {
    margin-right: 2rem;
    position: relative;

    p {
      position: absolute;
      top: 45%;
      left: 55%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 1.6rem;
      width: 70%;
      font-weight: 600;
      opacity: 0.8;
    }
  }
}
