@import '../../styles/abstracts.scss';

.distribution {
  padding: 2.5rem;

  p {
    text-align: center;
    margin-top: 6rem;
    font-weight: 600;

    @include respond(tab-port-large) {
      margin-top: 0;
    }
    @include respond(phone-v-small) {
      margin-top: 1.5rem;
      font-size: 1.6rem;
    }
  }

  &__chart {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    @include respond(tab-port-large) {
      justify-content: space-evenly;
    }

    @include respond(phone-v-small) {
      padding: 0;
    }
  }
}
